Package: com.zlmg.xin
Name: tWeChat
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ZHOULIMIN
Author: ZHOULIMIN
Section: Tweaks
